---
---
@import "minima";

.site-header {
   background-color: #db7c1a;
   border-top: 5px solid #8B4513;
}

.site-nav .trigger .page-link:first-child {
  display: none;
}

/* Horizontal rule */
hr,
.post-content hr {
  border: none;
  height: 5px;
  background-color: #db7c1a;
  margin: 2.5rem 0;
}

/* Rotation for table labels */
.rot90 {
  transform: rotate(-90deg);
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #000;
}

.page-header a.btn[href*="github.com"] {
  display: none;
}

.site-footer {
  display: none;
}

.pv {
  color: #c00;
  font-weight: 700;
}

.ow {
  color: rgb(0, 0, 204);
  font-weight: 700;
}

.wg {
  font-weight: 700;
}

.lv {
  color: rgb(0, 204, 0);
  font-weight: 700;
}

.mv {
  color: rgb(204, 0, 204);
  font-weight: 700;
}

.bwb {
  color: rgb(204, 102, 0);
  font-weight: 700;
}

.kern {
  font-weight: 700;
}

.bijvbep {
  color: rgb(102, 51, 204);
  text-decoration: underline;
  text-decoration-style: dashed;
}

.obwb {
  color: rgb(0, 153, 76);
  text-decoration: underline;
  text-decoration-style: dashed;
}

.bijst {
  color: rgb(204, 0, 102);
  text-decoration: underline;
  text-decoration-style: dashed;
}

.zin {
  text-decoration: underline;
  font-style: italic;
}

.hoofd {
  font-weight: 700;
}

.bijvbij {
  color: rgb(102, 51, 204);
}

/* Woordsoorten */

/* Zelfstandig naamwoord */
.zn {
  color: rgb(204, 0, 0);
}

/* Lidwoord */
.lw {
  color: rgb(0, 0, 204);
}

/* Bijvoeglijk naamwoord */
.bn {
  color: rgb(0, 204, 0);
}

/* Werkwoord */
.ww {
  font-weight: 700;
}

/* Zelfstandig (werkwoord) */
.z {
  color: rgb(102, 51, 204);
}

/* Hulp(werkwoord) */
.h {
  color: rgb(0, 153, 76);
}

/* Koppel(werkwoord) */
.k {
  color: rgb(204, 0, 102);
}

/* Voornaamwoord */
.vnw {
  text-decoration: underline;
}  

/* Persoonlijk (voornaamwoord) */
.pers {
  text-decoration: underline;
  color: rgb(204, 0, 204);
}  

/* Bezittelijk (voornaamwoord) */
.bez {
  text-decoration: underline;
  color: rgb(204, 102, 0);
}

/* Voorzetsel */
.vz {
    color: rgb(0, 153, 76);
}

/* Uitdrukking */
.uitdrukking {
    font-style: italic;
}

.bw {
  color: rgb(204, 102, 0);
}